<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %> || <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to delete this movie?" } do %>
    <i class="far fa-trash-alt"></i> 
    <% end %></li>
  <% end %>
</ul>
<%= link_to "Add a Movie", new_list_bookmark_path(@list) %>
<%= link_to "Back to Lists", lists_path %>
