<h1><%= @list.name %></h1>
<%= link_to "Add a Movie", new_list_bookmark_path(@list) %>
<%= link_to "Back to Lists", lists_path %>
<div class="container d-flex justify-content-around align-items-center p-2 bd-highlight">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-movie">
      <%= image_tag bookmark.movie.poster_url %>
      <div class="movie-info">
        <div>
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.comment %></p>
          <span><%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to delete this movie?" } do %>
            <i class="far fa-trash-alt"></i> 
            <% end %>
          </span>
        </div>
        <%# <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
      </div>
    </div>
  <% end %>
</div>


