<h1><%= @list.name %></h1>
<%= link_to "Add a Movie", new_list_bookmark_path(@list), class: "btn btn-light" %>
<%= link_to "Back to Lists", lists_path, class: "btn btn-light" %>
<div class="container d-flex justify-content-around align-items-center bd-highlight">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-movie">
      <%= image_tag bookmark.movie.poster_url, class: "movie-img" %>
      <div class="movie-info d-flex justify-content-between align-items-center">
        <div>
          <h2 class= "movie-title"><%= bookmark.movie.title %></h2>
          <p><%= bookmark.comment %></p>
        </div>
        <span><%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to delete this movie?" } do %>
          <i class="far fa-trash-alt"></i> 
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>


